//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 13 18:08:10 2023
//! **************************************************************************

SCHEMATIC START;
COMP "sensor" LOCATE = SITE "J15" LEVEL 1;
COMP "HCY" LOCATE = SITE "T16" LEVEL 1;
COMP "FG" LOCATE = SITE "M16" LEVEL 1;
COMP "HG" LOCATE = SITE "R11" LEVEL 1;
COMP "FTG" LOCATE = SITE "V17" LEVEL 1;
COMP "FR" LOCATE = SITE "N15" LEVEL 1;
COMP "HTG" LOCATE = SITE "V11" LEVEL 1;
COMP "HR" LOCATE = SITE "N16" LEVEL 1;
COMP "FTR" LOCATE = SITE "N14" LEVEL 1;
COMP "FTY" LOCATE = SITE "R18" LEVEL 1;
COMP "HTR" LOCATE = SITE "V14" LEVEL 1;
COMP "HTY" LOCATE = SITE "V12" LEVEL 1;
COMP "farm_turn" LOCATE = SITE "L16" LEVEL 1;
COMP "clock" LOCATE = SITE "E3" LEVEL 1;
COMP "hwy_cross" LOCATE = SITE "U11" LEVEL 1;
COMP "reset" LOCATE = SITE "P18" LEVEL 1;
COMP "hwy_turn" LOCATE = SITE "V10" LEVEL 1;
COMP "FCG" LOCATE = SITE "J13" LEVEL 1;
COMP "HCG" LOCATE = SITE "V15" LEVEL 1;
COMP "FCR" LOCATE = SITE "H17" LEVEL 1;
COMP "FCY" LOCATE = SITE "K15" LEVEL 1;
COMP "HCR" LOCATE = SITE "U14" LEVEL 1;
SCHEMATIC END;

