#Miscellaneous
NET clock LOC=E3 | IOSTANDARD=LVCMOS33; #clock
NET reset LOC=P18 | IOSTANDARD=LVCMOS33; #BTND

#Highway Lights
NET HR LOC=N16 | IOSTANDARD=LVCMOS33; #LD17, red
NET HG LOC=R11 | IOSTANDARD=LVCMOS33; #LD17, green

#Highway Turn
NET HTG LOC=V11 | IOSTANDARD=LVCMOS33; #LD15 
NET HTY LOC=V12 | IOSTANDARD=LVCMOS33; #LD14
NET HTR LOC=V14 | IOSTANDARD=LVCMOS33; #LD13

#Highway Crosswalk
NET HCG LOC=V15 | IOSTANDARD=LVCMOS33; #LD12
NET HCY LOC=T16 | IOSTANDARD=LVCMOS33; #LD11
NET HCR LOC=U14 | IOSTANDARD=LVCMOS33; #LD10

#Farmroad Lights
NET FR LOC=N15 | IOSTANDARD=LVCMOS33; #LD16, red
NET FG LOC=M16 | IOSTANDARD=LVCMOS33; #LD16, green

#Farmroad Turn
NET FTG LOC=V17 | IOSTANDARD=LVCMOS33; #LD5 
NET FTY LOC=R18 | IOSTANDARD=LVCMOS33; #LD4 
NET FTR LOC=N14 | IOSTANDARD=LVCMOS33; #LD3 

#Farmroad Crosswalk
NET FCG LOC=J13 | IOSTANDARD=LVCMOS33; #LD2
NET FCY LOC=K15 | IOSTANDARD=LVCMOS33; #LD1 
NET FCR LOC=H17 | IOSTANDARD=LVCMOS33; #LD0 

#Highway inputs
NET hwy_turn LOC=V10 | IOSTANDARD=LVCMOS33; #SW15
NET hwy_cross LOC=U11 | IOSTANDARD=LVCMOS33; #SW14

#Farmroad inputs
NET farm_turn LOC=L16 | IOSTANDARD=LVCMOS33; #SW1
NET sensor LOC=J15 | IOSTANDARD=LVCMOS33; #SW0